@import "colors";
@import "text";
@import "borderButton";

header{
    height: 52px;
    @extend %text_sx;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $color_grey_xs;
    color: $color_grey_lg;
    span{
        font-weight: 600;
        color: $color_grey_md;
        &:hover{
            color: $color_green_1;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    label{
        color: $color_green_3;
    }
    div:nth-child(8), div:nth-child(7) {
        @include stylButton($color_black, $color_white, $color_grey_xs,$color_grey_xs,$color_grey_md);
        border:2px solid $color_grey_xs;
    }
    div:nth-child(9){
        @include stylButton($color_white, $color_green_2, $color_green_4,$color_green_3,$color_green_5);
    }
}
