
%text_sx{
    font-size: 12px;
    line-height: 16px;
    font-family:"Inter",sans-serif;
}
%text_lg{
    font-size: 14px;
    line-height: 20px;
    font-family:"Inter:wght@400",sans-serif;
    font-weight: 600;
}
%text_md{
    font-size: 18px;
    line-height: 24px;
    font-family:"Inter:wght@600",sans-serif;
}
%text_xl{
    font-size: 24px;
    line-height: 32px;
    font-family:"Inter:wght@600",sans-serif;
}
