/*
body{
    font-size: $text;
    @media screen and (min-width:766px){
        font-size: $text*3;
    }
    @media screen and (min-width:1200px){
        font-size: $text*2;
    }
}
@each $nom, $breackpoint in $grille{
    @media screen and (min-width:$breackpoint) {
        .container{
            width:$breackpoint*0.8;
        }
    }
}


*/
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  font-size: 12px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
}

.section-1 > div:nth-child(2), .section-1 > div:first-child > h2, main nav {
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter:wght@400", sans-serif;
  font-weight: 600;
}

.section-1 > div:first-child > h1 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Inter:wght@600", sans-serif;
  font-weight: 700;
}

@media (min-width: 1200px) {
  header {
    margin: 0 auto;
    width: 1300px;
  }
}
header {
  height: 52px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  color: #64748b;
}
header span {
  font-weight: 600;
  color: #334155;
}
header span:hover {
  color: #4BCC00;
  text-decoration: underline;
  cursor: pointer;
}
header label {
  color: #40ae01;
}
header div:nth-child(8), header div:nth-child(7) {
  color: #0F172A;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 3px #E8E8E8;
  cursor: pointer;
  border: 2px solid #E8E8E8;
}
header div:nth-child(8):hover, header div:nth-child(7):hover {
  background-color: #E8E8E8;
  box-shadow: 0px 3px #334155;
}
header div:nth-child(9) {
  color: #ffffff;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
  border-radius: 5px;
  background-color: #4BCC00;
  box-shadow: 0px 3px #268102;
  cursor: pointer;
}
header div:nth-child(9):hover {
  background-color: #40ae01;
  box-shadow: 0px 3px #227203;
}

header {
  font-size: 12px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
}

.section-1 > div:nth-child(2), .section-1 > div:first-child > h2, main nav {
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter:wght@400", sans-serif;
  font-weight: 600;
}

.section-1 > div:first-child > h1 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Inter:wght@600", sans-serif;
  font-weight: 700;
}

@media (min-width: 1200px) {
  main nav {
    margin: 0 auto;
    width: 1300px;
  }
}
main nav {
  color: #334155;
  height: 67.6px;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main nav img {
  width: 19%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: default;
}
main nav > div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main nav > div:nth-child(1) {
  width: 55%;
  height: 100%;
}
main nav > div:nth-child(2) {
  width: 30%;
  height: 100%;
}
main nav > div:nth-child(2) span {
  cursor: default;
}
main nav > div:nth-child(2) div {
  display: flex;
  align-items: center;
  height: 60%;
}
main nav > div:nth-child(2) div input {
  height: 100%;
  border: none;
  background-color: #fcf6f6;
  color: #64748b;
  width: 75%;
}
main nav > div:nth-child(2) div:last-child {
  background-color: #fcf6f6;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .advertising {
    margin: 0 auto;
    width: 1300px;
  }
}
.advertising {
  margin-top: 13px;
  margin-bottom: 13px;
  width: 729px;
  height: 90px;
  background-color: #E8E8E8;
}

header {
  font-size: 12px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
}

.section-1 > div:nth-child(2), .section-1 > div:first-child > h2, main nav {
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter:wght@400", sans-serif;
  font-weight: 600;
}

.section-1 > div:first-child > h1 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Inter:wght@600", sans-serif;
  font-weight: 700;
}

@media (min-width: 1200px) {
  section {
    margin: 0 auto;
    width: 1300px;
  }
}
.section-1 > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.section-1 > div:first-child > h1 {
  width: 100%;
}
.section-1 > div:first-child > h2 {
  display: flex;
  align-items: end;
  width: 20%;
}
.section-1 > div:nth-child(2) {
  color: #64748b;
  width: 80%;
}
.section-1 > div:nth-child(2) > span:first-child {
  color: #4BCC00;
}
.section-1 > div:nth-child(2) > span:last-child {
  text-decoration: underline;
  color: #0F172A;
}
.section-1 > div:nth-child(2) > span:last-child:hover {
  color: #4BCC00;
  cursor: pointer;
}

.theme_switcher {
  padding-left: 10px;
}

/* Switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: -2px;
  background-color: white;
  border: #d6dbe2 solid;
  transition: 0.2s;
}

.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 25%;
}

input:checked + .slider {
  background: #4BCC00;
}

input:checked + .slider:before {
  transform: translateX(25px);
  border: solid #4BCC00;
}

header {
  font-size: 12px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
}

main nav, .section-1 > div:first-child > h2, .section-1 > div:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter:wght@400", sans-serif;
  font-weight: 600;
}

.section-1 > div:first-child > h1 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Inter:wght@600", sans-serif;
  font-weight: 700;
}

.section-2 > div, .section-2 {
  display: flex;
  align-items: center;
}

.section-2 {
  margin-top: 30px;
}
.section-2 > div {
  margin: 2px;
  flex: 1;
  flex-direction: column;
  height: 156px;
  border-radius: 20px;
}
.section-2 > div:first-child > div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50%;
  border: #E8E8E8 solid 2px;
  border-radius: 20px;
}
.section-2 > div:first-child > div:first-child {
  margin-bottom: 2px;
}
.section-2 > div:first-child > div:last-child {
  margin-top: 2px;
}
.section-2 > div:nth-child(2), .section-2 > div:nth-child(3) {
  border: #E8E8E8 solid 2px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.section-2 > div:nth-child(2) > div, .section-2 > div:nth-child(3) > div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */