$color_white:#ffffff;
$color_gray_xxs: #fcf6f6;
$color_grey_xs:#E8E8E8;
$color_grey_lg:#64748b;
$color_grey_md:#334155;
$color_black:#0F172A;
$color_green_1:#33FF00;
$color_green_2:#4BCC00;
$color_green_3:#40ae01;
$color_green_4:#268102;
$color_green_5:#227203;
$color_red:#FF3A33;