@media(min-width:1200px){
    .advertising{
    margin: 0 auto;
    width: 1300px;  
    }  
}  
.advertising{
    margin-top: 13px;
    margin-bottom: 13px;
    width: 729px;
    height: 90px;
    background-color: $color_grey_xs;
}